body {

       background-color: blue
}
   #banner {
    width: 100%;

   }


   h1  {
       text-align: center;
   }

p{
    text-align: center;

}

#missao {
    font-size: larger;
}
 em strong {
    color:blueviolet 